* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Styles */

:root {
  --fw-light: 200;
  --fw-reg: 300;
  --fw-medium: 500;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-text: #F1E9E0;
  --clr-text-light: rgba(241, 233, 224, .5);
  --clr-dark: #272C34;
  --clr-darker: #20242A;
  --clr-medium: #2B3038;
  --clr-gray: #272727;
  --clr-accent: #53F6C7;
  --clr-accent-dark: #329c7e;
  
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.75rem;
  --fs-body: 1rem;
  --fs-icon: 2rem;

  --of-1: 1rem;
  --of-2: 2.5rem;

  --br-light: 5px;
  --br-med: 8px;
  --br-max: 12px;
}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

/* General styles */

body {
  background: var(--clr-darker);
  color: var(--clr-text);
}

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  max-width: 100%;
}

img {
  width: 90px;
  object-fit: contain;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: 2px;
}

/* Typography */

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: var(--fw-light);
}

p {
  line-height: 1.2;
}

h1 { font-size: var(--fs-h1) }
h2 { 
  font-size: var(--fs-h2);
  line-height: 1.2;
}
h3 { 
  font-size: var(--fs-h3);
  line-height: 1.4;
}

h2.section-title {
  position: relative;
  margin-top: var(--of-2);
  font-weight: 500;
  color: var(--clr-text);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 500ms linear;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

section.contrast {
  background-color: var(--clr-dark);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.footer span strong {
  color: var(--clr-accent);
}

.icon-hovered {
  color: var(--clr-accent);
  transition: color 500ms linear;
}

/* Buttons */

.btn {
  border: 0;
  border-radius: var(--br-light);
  background-color: transparent;
  color: var(--clr-accent);
  cursor: pointer;
}

.link-btn {
  display: inline-block;
  padding: .5em 1em;
  width: 100%;
  max-width: fit-content;
  border: var(--clr-text) 1px solid;
  color: var(--clr-text);
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .4em;
  transition: border-color .3s ease-in-out;
}

.link-btn:hover {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

.btn-language-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--of-2);
}

.btn-language-picker {
  background: url('../public/images/EN.png') no-repeat scroll 0 0 transparent;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  opacity: .7;
  transition: opacity .5s ease;
}

.btn-language-picker:hover {
  opacity: 1;
}

.btn-language-picker img {
  display: inline-block;
  object-fit: contain;
}

.btn-language-picker.lang-ru {
  background-image: url('../public/images/RU.png');
}

.btn-language-picker.lang-en {
  background-image: url('../public/images/EN.png');
}

/* Header */

.container {
  width: 100%;
  max-width: 1280px;
  background-color: transparent;
  padding: 0 var(--of-1);
} 

.container.header {
  color: var(--clr-accent);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.container.about-me {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: var(--of-2) var(--of-1);
}

.container.about-me strong {
  display: block;
  font-weight: var(--fw-medium);
}

.header-logo {
  object-fit: fill;
}

.header-menu {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  justify-content: flex-end;
  align-items: center;
}

.header-menu i {
  font-size: var(--fs-icon);
}

nav ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 2rem;
}

li {
  display: inline-block;
  position: relative;
  font-weight: light;
  font-size: 1.4rem;
  opacity: .8;
  transition: opacity .3s;
}

li:hover {
  opacity: 1;
}

li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--clr-accent);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-menu {
  display: none;
}

@media (max-width: 600px) {
  nav ul {
    display: none;
  }

  .btn-menu {
    display: inline-block;
  }
}

/* Footer */

footer {
  color: var(--clr-text);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  padding: var(--of-1);
}

.socials-container {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  gap: .8em;
}

@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    justify-content: space-around;
  }
}

/* About me */

.container.aboutme {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.container.dark-row {
  background-color: var(--clr-darker);
  color: var(--clr-text);
}

/* Projects */

.projects {
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  gap: var(--of-1);
  padding-bottom: var(--of-2);
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-item-container {
  background-color: var(--clr-darker);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-areas: 
    "img content controls";
  gap: 1em;
  flex-direction: row;
  border-radius: var(--br-max);
  margin-bottom: var(--of-1);
  overflow: hidden;
}

.project-item-container img {
  min-width: 250px;
  /* min-height: 250px; */
  width: 100%;
  object-fit: cover;
  grid-area: img;
}

.project-content {
  grid-area: content;
}

.project-content p {
  line-height: 1.4;
}

.project-content > * {
  padding: var(--of-1);
}

.project-comps {
  font-size: var(--fs-h3);
  color: var(--clr-text-light);
}

.project-comps i.active {
  color: var(--clr-accent);
}

.project-comps i.ri-smartphone-line {
  font-size: smaller;
}

.project-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: var(--of-1);
  font-size: 1.2rem;
  font-weight: 300;
  grid-area: controls;
  padding: var(--of-1);
  margin: auto;
  margin-bottom: var(--of-1);
}

.project-controls i {
  font-size: 1.8rem;
}

@media (max-width: 800px) {
  .project-item-container {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
      "img content"
      "img controls";
  }

  .project-controls {
    flex-direction: row;
    padding-top: 0;
  }
}

@media (max-width: 650px) {
  .project-item-container img {
    max-height: 200px;
    width: 100%;
    object-fit: containt;
    object-position: center;
    grid-area: img;
  }

  .project-item-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "img"
      "content"
      "controls";
  }

  .project-controls {
    flex-direction: row;
    padding-top: 0;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .project-content > * {
    padding-top: 0;
  }

  .project-content > p {
    padding-bottom: 0;
  }
}